.jsTitle{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: cursive;
}

.headStyle{
    border: 1px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: yellow;
}
/* chat box style start */
.chat-box{
    max-height: 350px;
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
    overflow: scroll;
    padding:20px 120px;
}
.chat{
    width: 250px;
}